@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);

.post-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff; 
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:15px;
}

.post-box h1 a{

}

.post-box h1{
  font-size: 2.5em;
  font-family: Montserrat;
}

.post-box p{
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.post-box i{
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

.pull-right{
  top:5px;
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
}

.navbar.navbar-inverse {
  background:url('/assets/felt.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  left:0;
}

.navbar-inverse .navbar-brand {
  color: #C2A1FF;
  font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
  font-size: 2.5em;
  font-weight: 600;
}

.navbar-inverse {
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body{
	background: url('/assets/bark.png');
	font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
}

#container{
  width:100%;
}

#pag{
  height:50px;
  width:300px;
  margin: 0 auto;
}

.digg_pagination {
  cursor: default;
  margin: 0 auto;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

  .field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

/* Smartphones (portrait and landscape)
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .post-box{
background-color: black;}
}
*/